/* Mixins */
/* Print CSS */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: "(" attr(href) ")"; }
  abbr[title]:after {
    content: "(" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  h2, h3 {
    page-break-after: avoid; }
  h2, h3, p {
    orphans: 3;
    widows: 3; }
  select {
    background: #fff !important; } }

/*--- Theme ----------------------------------------------------------------------------------------------------------*/
/* Fonts */
@font-face {
  font-family: 'OpenSans';
  src: url("../src/fonts/OpenSans-Regular/OpenSans.woff") format("woff"), url("../src/fonts/OpenSans-Regular/OpenSans.ttf") format("truetype"), url("../src/fonts/OpenSans-Regular/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open-sans.regular';
  src: url("../src/fonts/OpenSans-Regular/open-sans.regular.eot");
  src: url("../src/fonts/OpenSans-Regular/open-sans.regular.woff2") format("woff2"), url("../src/fonts/OpenSans-Regular/open-sans.regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../src/fonts/OpenSans-Light/OpenSans-Light.eot");
  src: url("../src/fonts/OpenSans-Light/OpenSans-Light.woff2") format("woff2"), url("../src/fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("../src/fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("../src/fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light") format("svg"), url("../src/fonts/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../src/fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../src/fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2"), url("../src/fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../src/fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../src/fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg"), url("../src/fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  line-height: 22px; }

ul, li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .25em; }

.wrapper:after,
.wrapper:before {
  content: '';
  display: table; }

.base-page {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.wrapper {
  padding: 0 10%; }

.uppercase {
  text-transform: uppercase; }

.bg-blue {
  background: #4c99dc !important; }

.bg-blue-dark {
  background: #324153; }

.fw-bold {
  font-family: OpenSans-Bold, sans-serif; }

.item {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .item .line {
    width: 68%;
    height: 3px;
    background: #53a8d1; }

.title {
  width: 210px;
  margin-right: 41px;
  padding: 5px 40px 5px 10px;
  background: #324155;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .title h2 {
    width: 165px;
    color: #fff;
    font-weight: 400;
    margin: 0; }

.list {
  margin-top: 20px; }
  .list .list-item {
    position: relative;
    color: #fff;
    padding-left: 25px; }
    .list .list-item:before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      background: #fff;
      left: 0;
      top: 3px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .list .list-item .year-text {
      display: inline-block;
      color: #fff;
      margin-left: 35px;
      padding: 0 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .list .list-item .text {
      font-family: OpenSans-Light, sans-serif;
      margin: 5px 0 20px; }

.circle {
  position: absolute; }

svg {
  -moz-transform: rotateY(-180deg) rotate(100deg);
  -o-transform: rotateY(-180deg) rotate(100deg);
  -ms-transform: rotateY(-180deg) rotate(100deg);
  -webkit-transform: rotateY(-180deg) rotate(100deg);
  transform: rotateY(-180deg) rotate(100deg); }

/* Site */
/*--- Titles ---------------------------------------------------------------------------------------------------------*/
.extra-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #344455;
  margin-bottom: 0; }

/*--- /Titles --------------------------------------------------------------------------------------------------------*/
/*--- Header ---------------------------------------------------------------------------------------------------------*/
.header {
  background: #f3f3f3;
  padding: 0 0 15px; }
  .header .header--text {
    font-size: 14px;
    color: #344455;
    text-transform: uppercase; }

/*--- /Header --------------------------------------------------------------------------------------------------------*/
/*--- /Info block ----------------------------------------------------------------------------------------------------*/
.info-block {
  padding-top: 15px; }
  .info-block .info-short {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px; }
    .info-block .info-short--about {
      width: 215px;
      flex-shrink: 0;
      margin-right: 35px; }
      .info-block .info-short--about .text {
        padding-left: 10px; }
    .info-block .info-short--description {
      display: flex;
      justify-content: flex-start; }
      .info-block .info-short--description .my-photo {
        margin-right: 25px; }

/*--- /Info block ----------------------------------------------------------------------------------------------------*/
/*--- /Skills --------------------------------------------------------------------------------------------------------*/
.skills {
  padding: 15px 0; }
  .skills .skills-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; }
    .skills .skills-items--item {
      width: 20%;
      min-width: 125px;
      text-align: center;
      margin-bottom: 10px; }
      .skills .skills-items--item .percent-circle {
        position: relative;
        width: 115px;
        height: 115px;
        margin: 0 auto 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-border: 10px solid #d4d4d6;
        -moz-border: 10px solid #d4d4d6;
        -ms-border: 10px solid #d4d4d6;
        border: 10px solid #d4d4d6; }
        .skills .skills-items--item .percent-circle .percent-text {
          font-size: 32px;
          color: #151d26; }
      .skills .skills-items--item .skill-title--text {
        text-transform: uppercase; }

/*--- /Skills --------------------------------------------------------------------------------------------------------*/
.experience,
.education {
  padding: 45px 0; }

/* Media Queries */
