/*--- Header ---------------------------------------------------------------------------------------------------------*/
.header{
  background: #f3f3f3;
  padding: 0 0 15px;
  .header--text{
    font-size: 14px;
    color: #344455;
    text-transform: uppercase;
  }
}
/*--- /Header --------------------------------------------------------------------------------------------------------*/

/*--- /Info block ----------------------------------------------------------------------------------------------------*/
.info-block{
  padding-top: 15px;
  .info-short{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    &--about{
      width: 215px;
      flex-shrink: 0;
      margin-right: 35px;
      .text{
        padding-left: 10px;
      }
    }
    &--description{
      display: flex;
      justify-content: flex-start;
      .my-photo{
        margin-right: 25px;
      }
    }
  }
}
/*--- /Info block ----------------------------------------------------------------------------------------------------*/

/*--- /Skills --------------------------------------------------------------------------------------------------------*/
.skills{
  padding: 15px 0;
  .skills-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    &--item{
      width: 20%;
      min-width: 125px;
      text-align: center;
      margin-bottom: 10px;
      .percent-circle{
        position: relative;
        width: 115px;
        height: 115px;
        margin: 0 auto 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include border-radius(50%);
        @include border(10px solid #d4d4d6);
        .percent-text{
          font-size: 32px;
          color: #151d26;
        }
      }
      .skill-title{
        &--text{
          text-transform: uppercase;
        }
      }
    }
  }
}
/*--- /Skills --------------------------------------------------------------------------------------------------------*/

.experience,
.education{
  padding: 45px 0;
}