// Mobile Large
@media screen and (max-width: 425px){
  .header, footer{
    text-align: center;
  }
  .wrapper {
    padding: 0 5%;
  }
  .block-title .line{
    display: none;
  }
  .info-block .info-short{
    display: block;
    &--description{
      margin-top: 20px;
    }
  }
  .footer{
    padding-bottom: 20px;
    .extra-title{
      font-size: 25px;
    }
  }
  .block-title .title,
  .info-block .info-short--about{
    margin: 0 auto;
  }
  .info-block .info-short--description {
    text-align: center;
    display: block;
  }
}